.vscode
.hypothesis

# Model files
/checkpoints

# ROS2 basic directories
/build
/install
/log

# Gazebo cache
docker/cache/*
!docker/cache/.gazebo
docker/cache/.gazebo/*
!docker/cache/.gazebo/.gitkeep

# Pytorch cache
!docker/cache/torch
docker/cache/torch/*
!docker/cache/torch/.gitkeep